<header>
  <h1>Burning Airlines</h1><br>
</header>
<div id="main">
</div>

<script id="search" type="text/template"> 

 <div id="searchDiv">
   <h3>Search Flights:</h3>
   <p>All fields are optional</p>

   <form id="searchForm" action="#">
     <label for="departing">Departing From: </label>
     <input name="departing" id="departingSearch" type="text" placeholder="Departing From... e.g. 'XYZ'">
     <br><br>
   
     <label for="arriving">Arriving At: </label>
     <input name="arriving" id="arrivingSearch" type="text" placeholder="Arriving At... e.g. 'XYZ'">
     <br><br>
   
     <label for="date">Depart After: </label>
     <input name="date" id="dateOne" type="date" placeholder="">
     <br><br>
   
     <label for="date">Arrive Before: </label>
     <input name="date" id="dateTwo" type="date" placeholder="">
     <br><br>
     <button>Submit Search</button>
   </form>

   <div id="searchResults">
     <p>Results Appear Here.</p>
   </div>
 </div>
</script>

<script id="flightIndexTemplate" type="text/template">
  Date: {{ date }} - Flight No: {{ id }} - Origin: {{ origin }} - Destination: {{ destination }}
</script>



<script id="flightView" type="text/template">
  
  <div id="flightViewDiv">
    <h3>Flight {{ id }}</h3>
    <h4>Seats Remaining: </h4>
    <h2 id="seats-remaining"></h2>
  </div>


</script>



<script id="PlaneIndexTemplate" type="text/template">
  <h3>Plane Name: {{ name }}</h3>
</script>




<script id="PlaneViewTemplate" type="text/template">
<h3> {{name}} </h3>
<div id="edit"></div>
<form>
  <div>
    <label for="name">name of plane</label>
    <input id="name">
  </div>

  <div> 
    <label for="row"> how many rows</label>
    <input id="row">
  </div>

  <div> 
    <label for="columns"> how many columns</label>
    <input id="columns">
  </div>
  <button> update </button>
</form>
</script> 



<script id="seatViewTemplate" type="text/template">
 <h6> {{row}}, {{column}} </h6>
</script>