<header>
  <h1>Burning Airlines</h1>  
</header>
<div id="main">
  
</div>

<script id="search" type="text/template"> 
  <div id="searchDiv">
    <h2>Search Flights:</h2>
    <p>All fields are optional</p>
    <form id="searchForm" action="#">
      <label for="departing">Departing From: </label>
      <input name="departing" id="departingSearch" type="text" placeholder="Departing From... e.g. 'XYZ'">
      <br>
      <label for="arriving">Arriving At: </label>
      <input name="arriving" id="arrivingSearch" type="text" placeholder="Arriving At... e.g. 'XYZ'">
      <label for="date">Depart After: </label>
      <input name="date" id="dateOne" type="date" placeholder="">
      <br>
      <label for="date">Arrive Before: </label>
      <input name="date" id="dateTwo" type="date" placeholder="">
      <br>
      <p> </p>
      <button>Submit Search</button>
    </form>
    <div id="searchResults">
      <p>Results Appear Here.</p>
    </div>
  </div>
</script>

<script id="flightIndexTemplate" type="text/template">
  Date: {{ date }} - Flight No: {{ id }} - Origin: {{ origin }} - Destination: {{ destination }}
</script>

<script id="flightView" type="text/template">
  <div id="flightViewDiv">
  <h2>Flight {{ id }}</h2>
  <h3>Seats Remaining: </h3><h3 id="seats-remaining"></h3>
</script>

<script id="PlaneIndexTemplate" type="text/template">
  <h3>Plane Name: {{ name }}</h3>
</script>

<script id="PlaneViewTemplate" type="text/template">
<h3> {{name}} </h3>
<div id="edit"></div>
<form>
  <div>
    <label for="name">name of plane</label>
    <input id="name">
  </div>

  <div> 
    <label for="row"> how many rows</label>
    <input id="row">
  </div>

  <div> 
    <label for="columns"> how many columns</label>
    <input id="columns">
  </div>
  <button> update </button>
</form>
</script> 

<script id="seatViewTemplate" type="text/template">
 <h4> {{row}}, {{column}} </h4>
</script>