<header>
  <h1>Burning Airlines</h1>  
</header>
<div id="main">
  
</div>

<script id="search" type="text/template"> 
  <div id="searchDiv">
    <h2>Search Flights:</h2>
    <form id="searchForm" action="#">
      <label for="departing">Departing From: </label>
      <input name="departing" id="departingSearch" type="text" placeholder="Departing From... e.g. 'XYZ'">
      <br>
      <label for="arriving">Arriving At: </label>
      <input name="arriving" id="arrivingSearch" type="text" placeholder="Arriving At... e.g. 'XYZ'">
      <p> </p>
      <button>Submit Search</button>
    </form>
    <div id="searchResults">
      <p>Results Appear Here.</p>
    </div>
  </div>
</script>

<script id="flightIndexTemplate" type="text/template">
  <p> Date: {{ date }} - Flight No: {{ id }} - Origin: {{ origin }} - Destination: {{ destination }}</p>
</script>

<script id="flightView" type="text/template">
  <div id="flightViewDiv">
  <h2>Flight {{ id }}</h2>
  <h3>Seats Remaining: {{ rows * columns }}</h3>
  {[ for (var i = 0; i < rows; i++) { ]}
    {[ for (var j = 0; j < columns; j++) { ]}
      <div id="{{i}}{{j}}" class="seat"></div>
    {[ } ]}
    <br>
  {[ }; ]}
  </div>
</script>