<h1>Editing Flight</h1>

<%= render 'form' %>

<%= link_to 'Show', plane_flight_path(id: @flight.id, plane_id: @flight.plane_id) %> |
<%= link_to 'Back', plane_flights_path(id: @flight.id, plane_id: @flight.plane_id) %>
