// #main {
//   max-width: 960px;
//   margin: 0 auto;
// }

// header {
//   text-align: center;
// }

// #searchDiv {

//   h2 {
//     text-align: center;
//   }

//   button {
//     width: 70px;
//     margin: 0 auto;
//     display: block;
//     text-align: center;
//   }

//     p {
//       text-align: center;
//   }
// }

// form {
//     width: 80%;
//     margin: 0 auto;
// }

// .favorite-link-form {
//   width: 100%;
// }

// label, input, select {
//     display: inline-block;
// }

// label {
//     width: 30%;
//     text-align: right;
// }

// label + input {
//     width: 30%;
//     margin: 0 30% 0 4%;
// }

// label + select {
//   width: 30%;
//   margin: 0 30% 0 4%;
// }

// input + input {
//     float: right;
// }

.seat {
  width:50px;
  height: 50px;
  border: 1px black solid;
  display: inline-block;
}

.seat:hover {
  background-color: slategrey;
}

.reserved {
  background-color: blue;
}

// .seat {
//   width:50px;
//   height: 50px;
//   border: 1px black solid;
//   display: inline-block;
// }
